# Byte-compiled files
__pycache__/
*.py[cod]

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Python virtual environments
.venv/
venv/
ENV/
env/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

# Jupyter notebooks (optional)
.ipynb_checkpoints/
